html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Remove rolagens */
}

#app {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.screen {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.adventure-page {
    background-size: contain; /* Ajusta a imagem para caber completamente na tela */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita repetição da imagem */
    width: 100%; /* Garante que ocupe toda a largura */
    height: 100vh; /* Garante que ocupe toda a altura da tela */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black; /* Para o texto ser visível em fundos escuros */
    text-shadow: 1px 1px 2px black; /* Adiciona contraste ao texto */
    background-attachment: fixed; /* Mantém a imagem fixa ao rolar */
}

#adventure-screen {
    background-size: contain; /* Ajusta a imagem para caber completamente na tela */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita repetição da imagem */
    width: 100%; /* Garante que ocupe toda a largura */
    height: 100vh; /* Garante que ocupe toda a altura da tela */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black; /* Para o texto ser visível em fundos escuros */
    text-shadow: 1px 1px 2px black; /* Adiciona contraste ao texto */
    background-attachment: fixed; /* Mantém a imagem fixa ao rolar */
}

/* Configurações para a imagem da home-screen */
#home-screen {
    background-size: contain; /* Ajusta a imagem para caber completamente na tela */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita repetição da imagem */
    width: 100%; /* Garante que ocupe toda a largura */
    height: 100vh; /* Garante que ocupe toda a altura da tela */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black; /* Para o texto ser visível em fundos escuros */
    text-shadow: 1px 1px 2px black; /* Adiciona contraste ao texto */
    background-attachment: fixed; /* Mantém a imagem fixa ao rolar */
}

.comojogar-page {
    background-size: contain; /* Ajusta a imagem para caber completamente na tela */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita repetição da imagem */
    width: 100%; /* Garante que ocupe toda a largura */
    height: 100vh; /* Garante que ocupe toda a altura da tela */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black; /* Para o texto ser visível em fundos escuros */
    text-shadow: 1px 1px 2px black; /* Adiciona contraste ao texto */
    background-attachment: fixed; /* Mantém a imagem fixa ao rolar */
}

.game-over-page {
    background-size: contain; /* Ajusta a imagem para caber completamente na tela */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita repetição da imagem */
    width: 100%; /* Garante que ocupe toda a largura */
    height: 100vh; /* Garante que ocupe toda a altura da tela */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black; /* Para o texto ser visível em fundos escuros */
    text-shadow: 1px 1px 2px black; /* Adiciona contraste ao texto */
    background-attachment: fixed; /* Mantém a imagem fixa ao rolar */
}

/* Configurações específicas para a home-screen */
#home-screen .navigation-buttons {
    position: absolute;
    bottom: 10%; /* Ajuste conforme necessário */
    right: 10%; /* Ajuste conforme necessário */
}

#comojogar .navigation-buttons {
    position: absolute;
    bottom: 10%; /* Ajuste conforme necessário */
    right: 10%; /* Ajuste conforme necessário */
}

#adventure-screen .navigation-buttons {
    position: absolute;
    bottom: 40%; /* Ajuste conforme necessário */
    right: 30%; /* Ajuste conforme necessário */
}


#home-screen {
    background-image: url('img/Paginicial/1.png'); /* Substitua pelo caminho correto da imagem */
}

#comojogar-page-1{
    background-image: url('img/Paginicial/2.png'); /* Substitua pelo caminho correto da imagem */
}

#comojogar-page-2{
    background-image: url('img/Paginicial/3.png'); /* Substitua pelo caminho correto da imagem */
}

#comojogar-page-3{
    background-image: url('img/Paginicial/4.png'); /* Substitua pelo caminho correto da imagem */
}

#adventure-screen{
    background-image: url('img/Paginicial/Adventurescreen.png'); /* Substitua pelo caminho correto da imagem */
}

#adventure1-page-1 {
    background-image: url('img/Aventura1/imgmisteriomansao.png'); /* Substitua pelo caminho da sua imagem */
}

#adventure1-page-2 {
    background-image: url('img/Aventura1/Historia1.png');
}

#adventure1-page-3 {
    background-image: url('img/Aventura1/Historia2.png');
}

#adventure1-page-4 {
    background-image: url('img/Aventura1/Cena1.png');
}

#adventure1-page-5 {
    background-image: url('img/Aventura1/Cena2.png');
}

#adventure1-page-6 {
    background-image: url('img/Aventura1/Cena3.png');
}

#adventure1-page-7 {
    background-image: url('img/Aventura1/Cena4.png');
}

#adventure1-page-8 {
    background-image: url('img/Aventura1/Analise.png');
}

#adventure1-page-9 {
    background-image: url('img/Aventura1/Cena5.png');
}

#adventure1-page-10 {
    background-image: url('img/Aventura1/pagfim.png');
}

#adventure2-page-1 {
    background-image: url('img/Aventura2/inicio.png');
}

#adventure2-page-2 {
    background-image: url('img/Aventura2/historia1.png');
}

#adventure2-page-3 {
    background-image: url('img/Aventura2/historia2.png');
}

#adventure2-page-4 {
    background-image: url('img/Aventura2/historia3.png');
}

#adventure2-page-5 {
    background-image: url('img/Aventura2/Cena1.png');
}

#adventure2-page-6 {
    background-image: url('img/Aventura2/Cena2.png');
}

#adventure2-page-7 {
    background-image: url('img/Aventura2/Cena3.png');
}

#adventure2-page-8 {
    background-image: url('img/Aventura2/Cena4.png');
}

#adventure2-page-9 {
    background-image: url('img/Aventura2/Cena5.png');
}

#adventure2-page-10 {
    background-image: url('img/Aventura2/Cenafinal.png');
}

#adventure3-page-1 {
    background-image: url('img/Aventura3/Início.png');
}

#adventure3-page-2 {
    background-image: url('img/Aventura3/historia.png');
}

#adventure3-page-3 {
    background-image: url('img/Aventura3/Cena1.png');
}

#adventure3-page-4 {
    background-image: url('img/Aventura3/Lista1.png');
}

#adventure3-page-5 {
    background-image: url('img/Aventura3/Cena2.png');
}

#adventure3-page-6 {
    background-image: url('img/Aventura3/Lista2.png');
}

#adventure3-page-7 {
    background-image: url('img/Aventura3/Cena3.png');
}

#adventure3-page-8 {
    background-image: url('img/Aventura3/Lista3.png');
}

#adventure3-page-9 {
    background-image: url('img/Aventura3/Cena4.png');
}

#adventure3-page-10 {
    background-image: url('img/Aventura3/Lista4.png');
}

#adventure3-page-11 {
    background-image: url('img/Aventura3/Cena5.png');
}

#adventure3-page-12 {
    background-image: url('img/Aventura3/Lista5.png');
}

#adventure3-page-13 {
    background-image: url('img/Aventura3/CenaFinal.png');
}

#adventure3-page-14 {
    background-image: url('img/Aventura3/Fim.png');
}


#game-over-page-1 {
    background-image: url('img/Paginicial/Game\ over.png');
}


/* Estilo genérico para os botões */
.navigation-buttons {
    position: absolute;
    display: flex;
    gap: 10px; /* Espaçamento entre os botões */
}

.navigation-buttons button {
    padding: 10px 20px; /* Espaçamento interno */
    font-size: 1rem; /* Tamanho da fonte */
    border: none; 
    border-radius: 5px;
    background-color: #343031; /* Cor de fundo */
    color: white; /* Cor do texto */
    cursor: pointer; /* Muda o cursor ao passar por cima */
    transition: transform 0.2s ease, background-color 0.2s ease; /* Adiciona efeito de transição */
}

.navigation-buttons button:hover {
    background-color: #343031; /* Cor de fundo ao passar o mouse */
    transform: scale(1.1); /* Aumenta o tamanho do botão */
}

.question-buttons {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Espaçamento entre os botões */
    margin-bottom: 20px; /* Espaçamento inferior */
}

.question-buttons button {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #343031; /* Cor de fundo */
    color: white; /* Cor do texto */
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.question-buttons button:hover {
    background-color: #b08c6a; /* Cor ao passar o mouse */
    transform: scale(1.1); /* Efeito de zoom */
}

/* Botão de resposta errada (vermelho) */
.question-buttons button.wrong {
    background-color: #ff4d4d; /* Vermelho */
    color: white;
}

/* Botão de resposta correta (verde) */
.question-buttons button.correct {
    background-color: #4caf50; /* Verde */
    color: white;
}

/* Ajustes específicos para cada página */
#adventure1-page-1 .navigation-buttons {
    bottom: 35%; /* Exemplo de posição */
    left: 22%;
    
}

#adventure1-page-2 .navigation-buttons {
    bottom: 20%;
    right: 15%;

}

#adventure1-page-3 .navigation-buttons {
    bottom: 20%;
    right: 15%;
}

#adventure1-page-4 .navigation-buttons {
    bottom: 5%;
    left: 12%;
}

#adventure1-page-5 .navigation-buttons {
    bottom: 5%;
    left: 12%;
}

#adventure1-page-6 .navigation-buttons {
    bottom: 5%;
    left: 12%;
}

#adventure1-page-7 .navigation-buttons {
    bottom: 5%;
    left: 12%;
}

#adventure1-page-8 .navigation-buttons {
    bottom: 5%;
    left: 12%;
}

#adventure1-page-9 .navigation-buttons {
    bottom: 5%;
    left: 12%;
}

#adventure1-page-10 .navigation-buttons {
    bottom: 5%;
    left: 12%;
}

#adventure2-page-1 .navigation-buttons {
    bottom: 5%;
    right: 12%;
}

#adventure2-page-2 .navigation-buttons {
    bottom: 5%;
    right: 12%;
}

#adventure2-page-3 .navigation-buttons {
    bottom: 5%;
    right: 12%;
}

#adventure2-page-4 .navigation-buttons {
    bottom: 5%;
    right: 12%;
}

#adventure2-page-5 .navigation-buttons {
    bottom: 5%;
    right: 12%;
}

#adventure2-page-6 .navigation-buttons {
    bottom: 5%;
    left: 12%;
}

#adventure2-page-7 .navigation-buttons {
    bottom: 5%;
    left: 12%;
}

#adventure2-page-8 .navigation-buttons {
    bottom: 5%;
    right: 12%;
}

#adventure2-page-9 .navigation-buttons {
    bottom: 5%;
    left: 12%;
}

#adventure2-page-10 .navigation-buttons {
    bottom: 5%;
    right: 12%;
}

#adventure3-page-1 .navigation-buttons {
    bottom: 5%;
    right: 12%;
}

#adventure3-page-2 .navigation-buttons {
    bottom: 5%;
    right: 12%;
}

#adventure3-page-3 .navigation-buttons {
    bottom: 5%;
    right: 12%;
}

#adventure3-page-4 .navigation-buttons {
    bottom: 5%;
    right: 12%;
}

#adventure3-page-5 .navigation-buttons {
    bottom: 5%;
    right: 12%;
}

#adventure3-page-6 .navigation-buttons {
    bottom: 5%;
    right: 12%;
}

#adventure3-page-7 .navigation-buttons {
    bottom: 5%;
    right: 12%;
}

#adventure3-page-8 .navigation-buttons {
    bottom: 5%;
    right: 12%;
}

#adventure3-page-9 .navigation-buttons {
    bottom: 5%;
    right: 12%;
}

#adventure3-page-10 .navigation-buttons {
    bottom: 5%;
    right: 12%;
}

#adventure3-page-11 .navigation-buttons {
    bottom: 5%;
    right: 12%;
}

#adventure3-page-12 .navigation-buttons {
    bottom: 5%;
    right: 12%;
}

#adventure3-page-13 .navigation-buttons {
    bottom: 5%;
    right: 12%;
}

#adventure3-page-14 .navigation-buttons {
    bottom: 5%;
    right: 12%;
}

#game-over-page-1 .navigation-buttons {
    bottom: 5%;
    right: 12%;
}



/* Posição específica para os botões na página 4 */
#adventure1-page-4 .question-buttons {
    position: absolute;
    top: 56%; /* Ajuste conforme necessário */
    right: 10%; /* Ajuste conforme necessário */
    transform: translateY(-50%); /* Centraliza verticalmente */
}

/* Posição específica para os botões na página 5 */
#adventure1-page-5 .question-buttons {
    position: absolute;
    top: 60%; /* Ajuste conforme necessário */
    left: 15%; /* Ajuste conforme necessário */
}

/* Posição específica para os botões na página 6 */
#adventure1-page-6 .question-buttons {
    position: absolute;
    top: 50%; /* Ajuste conforme necessário */
    right: 14%; /* Ajuste conforme necessário */
}

/* Posição específica para os botões na página 7 */
#adventure1-page-7 .question-buttons {
    position: absolute;
    top: 50%; /* Ajuste conforme necessário */
    left: 15%; /* Ajuste conforme necessário */
}

/* Posição específica para os botões na página 9 */
#adventure1-page-9 .question-buttons {
    position: absolute;
    top: 54%; /* Ajuste conforme necessário */
    right: 20%; /* Ajuste conforme necessário */
}

#adventure2-page-5 .question-buttons {
    position: absolute;
    top: 50%; /* Ajuste conforme necessário */
    right: 2%; /* Ajuste conforme necessário */
}

#adventure2-page-6 .question-buttons {
    position: absolute;
    top: 60%; /* Ajuste conforme necessário */
    right: 10%; /* Ajuste conforme necessário */
}

#adventure2-page-7 .question-buttons {
    position: absolute;
    top: 50%; /* Ajuste conforme necessário */
    right: 8%; /* Ajuste conforme necessário */
}

#adventure2-page-8 .question-buttons {
    position: absolute;
    top: 50%; /* Ajuste conforme necessário */
    right: 10%; /* Ajuste conforme necessário */
}

#adventure2-page-9 .question-buttons {
    position: absolute;
    top: 55%; /* Ajuste conforme necessário */
    right: 14%; /* Ajuste conforme necessário */
}


#adventure3-page-3 .question-buttons {
    position: absolute;
    top: 40%; /* Ajuste conforme necessário */
    right: 0%; /* Ajuste conforme necessário */
}

#adventure3-page-5 .question-buttons {
    position: absolute;
    top: 40%; /* Ajuste conforme necessário */
    right: 0%; /* Ajuste conforme necessário */
}

#adventure3-page-7 .question-buttons {
    position: absolute;
    top: 40%; /* Ajuste conforme necessário */
    right: 5%; /* Ajuste conforme necessário */
}

#adventure3-page-9 .question-buttons {
    position: absolute;
    top: 43%; /* Ajuste conforme necessário */
    right: 3%; /* Ajuste conforme necessário */
}

#adventure3-page-11 .question-buttons {
    position: absolute;
    top: 40%; /* Ajuste conforme necessário */
    right: 12%; /* Ajuste conforme necessário */
}


/* Continue para as outras páginas */